<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width= device-width,initial-scale=1">
  <link rel="shortcut icon" href="assets/img/cv.ico">
  <link rel="stylesheet" href="assets/lib/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/lib/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="assets/css/style.css">
  <title>Jérôme Magnoux, mon CV numérique !</title>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-91990342-1', 'auto');
  ga('send', 'pageview');

  </script>
</head>
<body class="text-center" data-ng-app="myCv" data-spy="scroll" data-target="#menu" data-ng-init="fr=true">
  <div class="container">
    <header>
      <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" onclick="smoothScroll('#home')" href="#home">Jérôme Magnoux</a>
          </div>
          <div id="menu" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a onclick="smoothScroll('#home')" href="#home">Présentation</a></li>
              <li><a onclick="smoothScroll('#skills')" href="#skills">Compétences</a></li>
              <li><a onclick="smoothScroll('#career')" href="#career">Parcours</a></li>
              <li><a onclick="smoothScroll('#files')" href="#files">Documents</a></li>
              <li><a onclick="smoothScroll('#hobbies')" href="#hobbies">Loisirs</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li data-ng-class="{'disabled':fr}"><a href="#" data-ng-click="fr=true"><svg xmlns="http://www.w3.org/2000/svg"
                width="30" height="20" viewBox="0 0 3 2">

                <rect width="1" height="2" x="0" fill="#00267f" />
                <rect width="1" height="2" x="1" fill="#ffffff" />
                <rect width="1" height="2" x="2" fill="#d2232c" />
              </svg></a></li>
              <li data-ng-class="{'disabled':!fr}"><a href="#" data-ng-click="fr=false"><svg xmlns="http://www.w3.org/2000/svg" height="20" width="30" viewBox="0 0 640 480">
                <defs>
                  <clipPath id="a">
                    <path fill-opacity=".67" d="M-85.333 0h682.67v512h-682.67z"/>
                  </clipPath>
                </defs>
                <g clip-path="url(#a)" transform="translate(80) scale(.94)">
                  <g stroke-width="1pt">
                    <path fill="#006" d="M-256 0H768.02v512.01H-256z"/>
                    <path d="M-256 0v57.244l909.535 454.768H768.02V454.77L-141.515 0H-256zM768.02 0v57.243L-141.515 512.01H-256v-57.243L653.535 0H768.02z" fill="#fff"/>
                    <path d="M170.675 0v512.01h170.67V0h-170.67zM-256 170.67v170.67H768.02V170.67H-256z" fill="#fff"/>
                    <path d="M-256 204.804v102.402H768.02V204.804H-256zM204.81 0v512.01h102.4V0h-102.4zM-256 512.01L85.34 341.34h76.324l-341.34 170.67H-256zM-256 0L85.34 170.67H9.016L-256 38.164V0zm606.356 170.67L691.696 0h76.324L426.68 170.67h-76.324zM768.02 512.01L426.68 341.34h76.324L768.02 473.848v38.162z" fill="#c00"/>
                  </g>
                </g>
              </svg></a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <div data-ng-include="'assets/view/fr.html'" data-ng-if="fr"></div>
    <div data-ng-include="'assets/view/en.html'" data-ng-if="!fr"></div>
  </div>
  <script type="text/javascript" src="assets/lib/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="assets/lib/angular/angular.js"></script>
  <script type="text/javascript" src="assets/lib/bootstrap/dist/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="assets/js/smoothScroll.js"></script>
  <script type="text/javascript" src="assets/js/progressbar.js"></script>
  <script type="text/javascript" src="assets/js/multipleProgressbar.js"></script>
  <script type="text/javascript" src="assets/js/displayModal.js"></script>
  <script type="text/javascript" src="assets/js/timelineAnim.js"></script>
</body>
</html>
