<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width= device-width,initial-scale=1">
  <link rel="shortcut icon" href="assets/img/cv.ico">
  <link rel="stylesheet" href="assets/lib/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/lib/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="assets/css/style.css">
  <title>Jérôme Magnoux, mon CV numérique !</title>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-91990342-1', 'auto');
  ga('send', 'pageview');

  </script>
</head>
<body data-spy="scroll" data-target="#menu" class="text-center" data-ng-app="myCv">
  <div class="container">
    <header>
      <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" onclick="smoothScroll('#home')" href="#home">Jérôme Magnoux</a>
          </div>
          <div id="menu" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a onclick="smoothScroll('#home')" href="#home">Présentation</a></li>
              <li><a onclick="smoothScroll('#skills')" href="#skills">Compétences</a></li>
              <li><a onclick="smoothScroll('#career')" href="#career">Parcours</a></li>
              <li><a onclick="smoothScroll('#files')" href="#files">Documents</a></li>
              <li><a onclick="smoothScroll('#hobbies')" href="#hobbies">Loisirs</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <div class="row" id="home">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-12"><h1>Jérôme Magnoux</h1></div>
        </div>
        <div class="row">
          <div class="col-lg-12"><h2>Développeur web junior - full-stack</h2></div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <p><span class="glyphicon glyphicon-globe" aria-hidden="true"></span><span class="sr-only">adresse :</span> 59, Rue des îles</p>
            <p>60400 Cuts</p>
          </div>
          <div class="col-sm-4">
            <div class="row">
              <div class="col-sm-6">
                <a href="https://github.com/jmagnoux" target="_blank" class="fa fa-github-alt fa-4x"></a>
              </div>
              <div class="col-sm-6">
                <a href="https://www.linkedin.com/in/j%C3%A9r%C3%B4me-magnoux-a0964a138/" target="_blank" class="fa fa-linkedin fa-4x"></a>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="row">
              <div class="col-lg-12">
                <p><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span><span class="sr-only">e-mail :</span> <a href="mailto:jmagnoux@gmail.com">jmagnoux@gmail.com</a>
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <p><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span><span class="sr-only">Téléphone :</span> 06.64.41.21.86
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" id="skills">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-12"><h2>Compétences</h2></div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <h3>O.S.</h3>
            <div class="improveVisibility">
              <p>linux/Terminal<span class="progressBar" id="progress9" value="70"></span></p>
              <div class="meter text-left">
                <p><span style="width: 70%"></span>70%</p>
              </div>
            </div>
            <div class="improveVisibility">
              <p>Windows<span class="progressBar" id="progress4" value="70"></span></p>
              <div class="meter text-left">
                <p><span style="width: 70%"></span>70%</p>
              </div>
            </div>
            <div class="improveVisibility">
              <p>MacOS<span class="progressBar" id="progress14" value="70"></span></p>
              <div class="meter text-left">
                <p><span style="width: 70%"></span>70%</p>
              </div>
            </div>
            <h3>Langages</h3>
            <div class="improveVisibility">
              <p>HTML/CSS<span class="progressBar" id="progress3" value="80"></span></p>
              <div class="meter text-left">
                <p><span style="width: 80%"></span>80%</p>
              </div>
            </div>
            <div class="improveVisibility">
              <p>JavaScript<span class="progressBar" id="progress5" value="60"></span></p>
              <div class="meter text-left">
                <p><span style="width: 60%"></span>60%</p>
              </div>
            </div>
            <div class="improveVisibility">
              <p>PHP<span class="progressBar" id="progress6" value="10"></span></p>
              <div class="meter text-left">
                <p><span style="width: 10%"></span>10%</p>
              </div>
            </div>
            <div class="improveVisibility">
              <p>C/C++<span class="progressBar" id="progress7" value="80"></span></p>
              <div class="meter text-left">
                <p><span style="width: 80%"></span>80%</p>
              </div>
            </div>
            <div class="improveVisibility">
              <p>Java<span class="progressBar" id="progress8" value="65"></span></p>
              <div class="meter text-left">
                <p><span style="width: 65%"></span>65%</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <h3>Framework &amp; Bibliothèque</h3>
            <div class="improveVisibility">
              <p>JQuery<span class="progressBar" id="progress10" value="80"></span></p>
              <div class="meter text-left">
                <p><span style="width: 80%"></span>80%</p>
              </div>
            </div>
            <div class="improveVisibility">
              <p>AngularJS<span class="progressBar" id="progress11" value="20"></span></p>
              <div class="meter text-left">
                <p><span style="width: 20%"></span>20%</p>
              </div>
            </div>
            <div class="improveVisibility">
              <p>Bootstrap<span class="progressBar" id="progress12" value="70"></span></p>
              <div class="meter text-left">
                <p><span style="width: 70%"></span>70%</p>
              </div>
            </div>
            <div class="improveVisibility">
              <p>Symfony<span class="progressBar" id="progress13" value="0"></span></p>
              <div class="meter text-left">
                <p><span style="width: 0%"></span>0%</p>
              </div>
            </div>
            <h3>Langues</h3>
            <div class="improveVisibility">
              <p>Anglais<span class="progressBar" id="progress15" value="80"></span></p>
              <div class="meter text-left">
                <p><span style="width: 80%"></span>80%</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <h3>Logiciels &amp; Outils</h3>
            <div class="improveVisibility">
              <p>Atom<span class="progressBar" id="progress0" value="80"></span></p>
              <div class="meter text-left">
                <p><span style="width: 80%"></span>80%</p>
              </div>
            </div>
            <div class="improveVisibility">
              <p>NetBeans<span class="progressBar" id="progress1" value="20"></span></p>
              <div class="meter text-left">
                <p><span style="width: 20%"></span>20%</p>
              </div>
            </div>
            <div class="improveVisibility">
              <p>Nano<span class="progressBar" id="progress2" value="80"></span></p>
              <div class="meter text-left">
                <p><span style="width: 80%"></span>80%</p>
              </div>
            </div>
            <div class="improveVisibility">
              <p>Git<span class="progressBar" id="progress16" value="80"></span></p>
              <div class="meter text-left">
                <p><span style="width: 80%"></span>80%</p>
              </div>
            </div>
            <div class="improveVisibility">
              <p>GitHub/BitBucket<span class="progressBar" id="progress17" value="80"></span></p>
              <div class="meter text-left">
                <p><span style="width: 80%"></span>0%</p>
              </div>
            </div>
            <div class="improveVisibility">
              <p>Pencil<span class="progressBar" id="progress18" value="40"></span></p>
              <div class="meter text-left">
                <p><span style="width: 40%"></span>40%</p>
              </div>
            </div>
            <div class="improveVisibility">
              <p>LAMP<span class="progressBar" id="progress19" value="20"></span></p>
              <div class="meter text-left">
                <p><span style="width: 20%"></span>20%</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" id="career" data-ng-controller="timelineCtrl">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-12"><h2>Parcours</h2></div>
        </div>
        <div class="row">
          <ul class="timeline">
            <li data-ng-repeat="xp in experiences track by $index" data-ng-class="{'timeline-inverted':!xp.study, tldate:xp.isDate}" on-finish-render="ngRepeatFinished">
              <div data-ng-if="xp.isDate">
                <h3>{{xp.year}}</h3>
              </div>
              <div data-ng-if="!xp.isDate">
                <div class="tl-circ" data-ng-class="{'tl-circ-left':xp.study, 'tl-circ-right':!xp.study}"></div>
                <div class="timeline-panel text-left">
                  <p data-ng-bind="xp.title"></p>
                  <p class="place text-right" data-ng-bind="xp.place"></p>
                  <p data-ng-bind="xp.data1"></p>
                  <p data-ng-bind="xp.data2"></p>
                  <p data-ng-bind="xp.data3" data-ng-if="!xp.study"></p>
                  <p data-ng-if="xp.study"><a href={{xp.data3}} target="_blank">En savoir plus ></a></p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row" id="files">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-12"><h2>Documents</h2></div>
        </div>
        <div class="row">
          <div class="col-xs-8 col-sm-6 col-md-4 col-xs-offset-2 col-sm-offset-0 divSize">
            <div class="thumbnail">
              <img src="assets/img/cvMiniature.jpg" alt="C.V. papier" title="C.V. papier">
              <div class="caption">
                <p>C.V.</p>
                <div id="cvJeromeMagnoux" onclick="displayModal(event, 'pdf')" class="btn btn-primary glyphicon glyphicon-download-alt"> Télécharger</div>
              </div>
            </div>
          </div>
          <div class="col-xs-8 col-sm-6 col-md-4 col-xs-offset-2 col-sm-offset-0 divSize">
            <div class="thumbnail">
              <img src="assets/img/PSC1Miniature.jpg" alt="PSC1" title="PSC1">
              <div class="caption">
                <p>PSC1</p>
                <div id="PSC1" onclick="displayModal(event, 'jpg')" class="btn btn-primary glyphicon glyphicon-download-alt" > Télécharger</div>
              </div>
            </div>
          </div>
          <div class="col-xs-8 col-sm-6 col-md-4 col-xs-offset-2 col-sm-offset-0 divSize">
            <div class="thumbnail">
              <img src="assets/img/cvMiniature.jpg" alt="C.V. papier" title="C.V. papier">
              <div class="caption">
                <p>TOEIC</p>
                <div id="TOEIC" onclick="displayModal(event, 'jpg')" class="btn btn-primary glyphicon glyphicon-download-alt disabled"> Télécharger</div>
              </div>
            </div>
          </div>
        </div>
        <div id="myModal" class="modal" onclick="document.getElementById('myModal').style.display='none'">
          <span class="close">&times;</span>
          <img class="modal-content" id="img01">
          <iframe src="" class="modal-content" id="frame" frameborder="0"></iframe>
        </div>
      </div>
    </div>
    <div class="row" id="hobbies">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-12"><h2>Loisirs</h2></div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-4">
            <img src="assets/img/dice20.png" alt="Jeux de rôle" title="Jeux de rôle">
            <div><p>Jeux de rôle</p></div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <img src="assets/img/read.jpg" alt="Lecture" title="Lecture">
            <div><p>Romans fantastique</p></div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <img src="assets/img/3dprint.png" alt="impression 3D" title="impression 3D">
            <div><p>Impression 3D</p></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="assets/lib/angular/angular.min.js"></script>
  <script type="text/javascript" src="assets/lib/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="assets/lib/bootstrap/dist/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="assets/js/smoothScroll.js"></script>
  <script type="text/javascript" src="assets/js/progressbar.js"></script>
  <script type="text/javascript" src="assets/js/multipleProgressbar.js"></script>
  <script type="text/javascript" src="assets/js/displayModal.js"></script>
  <script type="text/javascript" src="assets/js/timelineAnim.js"></script>
</body>
</html>
