<div class="row" id="home">
  <div class="col-lg-12">
    <div class="row">
      <div class="col-lg-12"><h1>Jérôme Magnoux</h1></div>
    </div>
    <div class="row">
      <div class="col-lg-12"><h2>Web developer junior</h2></div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <p><span class="glyphicon glyphicon-globe" aria-hidden="true"></span><span class="sr-only">address :</span> 59 rue des îles</p>
        <p>60400 Cuts</p>
      </div>
      <div class="col-sm-4">
        <div class="row">
          <div class="col-sm-6">
            <a href="https://github.com/jmagnoux" class="fa fa-github-alt fa-4x" title="Github link"></a>
          </div>
          <div class="col-sm-6">
            <a href="https://www.linkedin.com/in/j%C3%A9r%C3%B4me-magnoux-a0964a138/" class="fa fa-linkedin fa-4x" title="Linkedin link"></a>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="row">
          <div class="col-lg-12">
            <p><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span><span class="sr-only">e-mail :</span> <a href="mailto:jmagnoux@gmail.com" title="Send me an email">jmagnoux@gmail.com</a>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <p><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span><span class="sr-only">Phone :</span> +336.64.41.21.86
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row" id="skills">
  <div class="col-lg-12">
    <div class="row">
      <div class="col-lg-12"><h2>Skills</h2></div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <h3>O.S.</h3>
        <div class="improveVisibility">
          <p>Linux<span class="progressBar" id="progress9" value="70"></span></p>
          <div class="meter text-left">
            <p><span style="width: 70%"></span>70%</p>
          </div>
        </div>
        <div class="improveVisibility">
          <p>Windows<span class="progressBar" id="progress4" value="70"></span></p>
          <div class="meter text-left">
            <p><span style="width: 70%"></span>70%</p>
          </div>
        </div>
        <div class="improveVisibility">
          <p>MacOS<span class="progressBar" id="progress14" value="70"></span></p>
          <div class="meter text-left">
            <p><span style="width: 70%"></span>70%</p>
          </div>
        </div>
        <h3>Languages</h3>
        <div class="improveVisibility">
          <p>HTML/CSS<span class="progressBar" id="progress3" value="80"></span></p>
          <div class="meter text-left">
            <p><span style="width: 80%"></span>80%</p>
          </div>
        </div>
        <div class="improveVisibility">
          <p>JavaScript<span class="progressBar" id="progress5" value="60"></span></p>
          <div class="meter text-left">
            <p><span style="width: 60%"></span>60%</p>
          </div>
        </div>
        <div class="improveVisibility">
          <p>PHP<span class="progressBar" id="progress6" value="10"></span></p>
          <div class="meter text-left">
            <p><span style="width: 10%"></span>10%</p>
          </div>
        </div>
        <div class="improveVisibility">
          <p>C/C++<span class="progressBar" id="progress7" value="80"></span></p>
          <div class="meter text-left">
            <p><span style="width: 80%"></span>80%</p>
          </div>
        </div>
        <div class="improveVisibility">
          <p>Java<span class="progressBar" id="progress8" value="65"></span></p>
          <div class="meter text-left">
            <p><span style="width: 65%"></span>65%</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <h3>Framework &amp; Library</h3>
        <div class="improveVisibility">
          <p>JQuery<span class="progressBar" id="progress10" value="80"></span></p>
          <div class="meter text-left">
            <p><span style="width: 80%"></span>80%</p>
          </div>
        </div>
        <div class="improveVisibility">
          <p>AngularJS<span class="progressBar" id="progress11" value="20"></span></p>
          <div class="meter text-left">
            <p><span style="width: 20%"></span>20%</p>
          </div>
        </div>
        <div class="improveVisibility">
          <p>Bootstrap<span class="progressBar" id="progress12" value="70"></span></p>
          <div class="meter text-left">
            <p><span style="width: 70%"></span>70%</p>
          </div>
        </div>
        <div class="improveVisibility">
          <p>Symfony<span class="progressBar" id="progress13" value="0"></span></p>
          <div class="meter text-left">
            <p><span style="width: 0%"></span>0%</p>
          </div>
        </div>
        <h3>Langues</h3>
        <div class="improveVisibility">
          <p>English TOEIC : 890</p>
        </div>
        <div class="improveVisibility">
          <p>French first language</p>
        </div>
      </div>
      <div class="col-md-4">
        <h3>Software &amp; Tools</h3>
        <div class="improveVisibility">
          <p>Atom<span class="progressBar" id="progress0" value="80"></span></p>
          <div class="meter text-left">
            <p><span style="width: 80%"></span>80%</p>
          </div>
        </div>
        <div class="improveVisibility">
          <p>NetBeans<span class="progressBar" id="progress1" value="20"></span></p>
          <div class="meter text-left">
            <p><span style="width: 20%"></span>20%</p>
          </div>
        </div>
        <div class="improveVisibility">
          <p>Nano<span class="progressBar" id="progress2" value="80"></span></p>
          <div class="meter text-left">
            <p><span style="width: 80%"></span>80%</p>
          </div>
        </div>
        <div class="improveVisibility">
          <p>Git<span class="progressBar" id="progress16" value="80"></span></p>
          <div class="meter text-left">
            <p><span style="width: 80%"></span>80%</p>
          </div>
        </div>
        <div class="improveVisibility">
          <p>GitHub/Bitbucket<span class="progressBar" id="progress17" value="80"></span></p>
          <div class="meter text-left">
            <p><span style="width: 80%"></span>0%</p>
          </div>
        </div>
        <div class="improveVisibility">
          <p>Pencil<span class="progressBar" id="progress18" value="40"></span></p>
          <div class="meter text-left">
            <p><span style="width: 40%"></span>40%</p>
          </div>
        </div>
        <div class="improveVisibility">
          <p>LAMP/WAMP/XAMP<span class="progressBar" id="progress15" value="20"></span></p>
          <div class="meter text-left">
            <p><span style="width: 20%"></span>20%</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row" id="career" data-ng-controller="timelineCtrl">
  <div class="col-lg-12">
    <div class="row">
      <div class="col-lg-12"><h2>Career</h2></div>
    </div>
    <div class="row">
      <ul class="timeline">
        <li data-ng-repeat="xp in experiences track by $index" data-ng-class="{'timeline-inverted':!xp.study, tldate:xp.isDate}" on-finish-render="ngRepeatFinished">
          <div data-ng-if="xp.isDate">
            <h3>{{xp.year}}</h3>
          </div>
          <div data-ng-if="!xp.isDate">
            <div class="tl-circ" data-ng-class="{'tl-circ-left':xp.study, 'tl-circ-right':!xp.study}"></div>
            <div class="timeline-panel text-left">
              <p data-ng-bind="xp.titleEn"></p>
              <p class="place text-right" data-ng-bind="xp.place"></p>
              <p data-ng-bind="xp.data1En"></p>
              <p data-ng-bind="xp.data2En"></p>
              <p data-ng-bind="xp.data3En" data-ng-if="!xp.study"></p>
              <p data-ng-if="xp.study"><a href={{xp.data3En}} title="Learn more about the places">Learn more ></a></p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="row" id="files">
  <div class="col-lg-12">
    <div class="row">
      <div class="col-lg-12"><h2>Files</h2></div>
    </div>
    <div class="row">
      <div class="col-xs-8 col-sm-6 col-md-4 col-xs-offset-2 col-sm-offset-0 divSize">
        <div class="thumbnail">
          <img src="assets/img/cvMiniature.jpg" alt="paper C.V." title="paper C.V.">
          <div class="caption">
            <p>C.V.</p>
            <a id="cvJeromeMagnoux" href="assets/files/cvJeromeMagnoux.pdf" class="btn btn-primary btn-block glyphicon glyphicon-download-alt" title="Download my paper CV" download> Download</a>
            <a id="cvJeromeMagnoux" href="assets/files/cvJeromeMagnoux.pdf" class="btn btn-info btn-block glyphicon glyphicon-eye-open" title="Preview my paper CV"> Preview</a>
          </div>
        </div>
      </div>
      <div class="col-xs-8 col-sm-6 col-md-4 col-xs-offset-2 col-sm-offset-0 divSize">
        <div class="thumbnail">
          <img src="assets/img/PSC1Miniature.jpg" alt="PSC1" title="PSC1">
          <div class="caption">
            <p>First Aid and CPR Certification</p>
            <a id="cvJeromeMagnoux" href="assets/files/PSC1.jpg" class="btn btn-primary btn-block glyphicon glyphicon-download-alt" title="Download my PSC1" download> Télécharger</a>
            <a id="cvJeromeMagnoux" href="assets/files/PSC1.jpg" class="btn btn-info btn-block glyphicon glyphicon-eye-open" title="Preview my PSC1"> Prévisualiser</a>
          </div>
        </div>
      </div>
      <div class="col-xs-8 col-sm-6 col-md-4 col-xs-offset-2 col-sm-offset-0 divSize">
        <div class="thumbnail">
          <img src="assets/img/cvMiniature.jpg" alt="C.V. papier" title="C.V. papier">
          <div class="caption">
            <p>TOEIC</p>
            <a id="cvJeromeMagnoux" href="assets/files/cvJeromeMagnoux.pdf" class="btn btn-primary btn-block glyphicon glyphicon-download-alt disabled" title="Download my TOEIC"download> Télécharger</a>
            <a id="cvJeromeMagnoux" href="assets/files/cvJeromeMagnoux.pdf" class="btn btn-info btn-block glyphicon glyphicon-eye-open disabled" title="Preview my TOEIC"> Prévisualiser</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row" id="hobbies">
  <div class="col-lg-12">
    <div class="row">
      <div class="col-lg-12"><h2>Hobbies</h2></div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <img src="assets/img/dice20.png" alt="roleplay" title="roleplay">
        <div><p>Roleplay</p></div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <img src="assets/img/read.jpg" alt="read" title="read">
        <div><p>Fantastic novels</p></div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <img src="assets/img/3dprint.png" alt="3D print" title="3D print">
        <div><p>3D print</p></div>
      </div>
    </div>
  </div>
</div>
